<%= form_for [:admin, @condition] do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>

  <p><%= f.label :max_temperature %> (°F)</p>
  <%= f.number_field :max_temperature %>

  <p><%= f.label :mean_temperature %> (°F)</p>
  <%= f.number_field :mean_temperature %>

  <p><%= f.label :min_temperature %> (°F)</p>
  <%= f.number_field :min_temperature %>

  <p><%= f.label :mean_humidity %> (%)</p>
  <%= f.number_field :mean_humidity %>


  <p><%= f.label :mean_visibility %> (miles)</p>
  <%= f.number_field :mean_visibility %>


  <p><%= f.label :mean_wind_speed %> (mph)</p>
  <%= f.number_field :mean_wind_speed %>


  <p><%= f.label :precipitation %> (in)</p>
  <%= f.number_field :precipitation %>

  <%= f.submit %>
<% end %>
