<section class = 'title'>
  <h1>Weather Conditions</h1>
</section>
<section class = 'title'>
<% if current_user %>
  <h3><%= link_to '>>>>Go to Weather Dashboard', conditions_dashboard_path %></h3>
<% end %>
</section>
<section class = 'title'>
  <% if current_admin? %>
    <p><%= link_to 'Add a New Condition!', new_admin_condition_path %></p>
  <% end %>
</section>

<table>
  <tr>
    <th>Condition ID</th>
    <th>Date</th>
    <th>Max Temp</br>(°F)</th>
    <th>Mean Temp</br>(°F)</th>
    <th>Min Temp</br>(°F)</th>
    <th>Mean Humidity</br>(%)</th>
    <th>Mean Visibility</br>(miles)</th>
    <th>Mean Wind Speed</br>(mph)</th>
    <th>Precipitation</br>(inches)</th>
    <% if current_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <% @conditions.each do |condition| %>
  <tr class="condition_<%= condition.id %>">
    <td align='right'><%= link_to condition.id, condition_path(condition) %></td>
    <td align='right'><%= condition.date.strftime('%d %B %Y') %></td>
    <td align='right'><%= condition.max_temperature %></td>
    <td align='right'><%= condition.mean_temperature %></td>
    <td align='right'><%= condition.min_temperature %></td>
    <td align='right'><%= condition.mean_humidity %></td>
    <td align='right'><%= condition.mean_visibility %></td>
    <td align='right'><%= condition.mean_wind_speed %></td>
    <td align='right'><%= condition.precipitation %></td>

    <% if current_admin? %>
      <td><%= link_to edit_admin_condition_path(condition) do %>
          <i class="far fa-edit"></i>
      <% end %></td>

      <td><%= link_to admin_condition_path(condition), method: 'delete' do %>
          <i class="fas fa-trash-alt"></i>
      <% end %></td>

    <% end %>
  </tr>
  <% end %>
</table>
