<section class = 'title'>
  <h1>Conditions</h1>
</section>

<table>
  <tr>
    <th>Condition ID</th>
    <th>Date</th>
    <th>Max Temp</th>
    <th>Mean Temp</th>
    <th>Min Temp</th>
    <th>Mean Humidity</th>
    <th>Mean Visibility</th>
    <th>Mean Wind Speed</th>
    <th>Precipitation</th>
    <% if current_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <% @conditions.each do |condition| %>
  <tr class="condition_<%= condition.id %>">
    <td align='right'><%= link_to condition.id, condition_path(condition) %></td>
    <td align='right'><%= condition.date %></td>
    <td align='right'><%= condition.max_temperature %></td>
    <td align='right'><%= condition.mean_temperature %></td>
    <td align='right'><%= condition.min_temperature %></td>
    <td align='right'><%= condition.mean_humidity %></td>
    <td align='right'><%= condition.mean_visibility %></td>
    <td align='right'><%= condition.mean_wind_speed %></td>
    <td align='right'><%= condition.precipitation %></td>

    <% if current_admin? %>
      <td><%= link_to edit_admin_condition_path(condition) do %>
          <i class="far fa-edit"></i>
      <% end %></td>

      <td><%= link_to admin_condition_path(condition), method: 'delete' do %>
          <i class="fas fa-trash-alt"></i>
      <% end %></td>

    <% end %>
  </tr>
  <% end %>
</table>
