<section class='title'>
  <h1>Condition</h1>
</section>
<table>
  <tr>
    <th>Condition ID</th>
    <th>Date</th>
    <th>Max Temp</th>
    <th>Mean Temp</th>
    <th>Min Temp</th>
    <th>Mean Humidity</th>
    <th>Mean Visibility</th>
    <th>Mean Wind Speed</th>
    <th>Precipitation</th>
    <% if current_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <tr class=condition_<%= @condition.id %>>
    <td><%= @condition.id %></td>
    <td><%= @condition.date %></td>
    <td><%= @condition.max_temperature %></td>
    <td><%= @condition.mean_temperature %></td>
    <td><%= @condition.min_temperature %></td>
    <td><%= @condition.mean_humidity %></td>
    <td><%= @condition.mean_visibility %></td>
    <td><%= @condition.mean_wind_speed %></td>
    <td><%= @condition.precipitation %></td>

    <% if current_admin? %>
    <td><%= link_to edit_admin_condition_path(@condition) do %>
        <i class="far fa-edit"></i>
    <% end %></td>

    <td><%= link_to admin_condition_path(@condition), method: 'delete' do %>
        <i class="fas fa-trash-alt"></i>
    <% end %></td>

    <% end %>
  </tr>
</table>

<%= link_to '<< Back to Condition Index', conditions_path %>
