<section class='title'>
  <h1>Weather Condition</h1>
</section>
<table>
  <tr>
    <th>Condition ID</th>
    <th>Date</th>
    <th>Max Temp</br>(°F)</th>
    <th>Mean Temp</br>(°F)</th>
    <th>Min Temp</br>(°F)</th>
    <th>Mean Humidity</br>(%)</th>
    <th>Mean Visibility</br>(miles)</th>
    <th>Mean Wind Speed</br>(mph)</th>
    <th>Precipitation</br>(inches)</th>
    <% if current_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <tr class=condition_<%= @condition.id %>>
    <td><%= @condition.id %></td>
    <td><%= @condition.date.strftime('%d %B %Y') %></td>
    <td><%= @condition.max_temperature %></td>
    <td><%= @condition.mean_temperature %></td>
    <td><%= @condition.min_temperature %></td>
    <td><%= @condition.mean_humidity %></td>
    <td><%= @condition.mean_visibility %></td>
    <td><%= @condition.mean_wind_speed %></td>
    <td><%= @condition.precipitation %></td>

    <% if current_admin? %>
    <td><%= link_to edit_admin_condition_path(@condition) do %>
        <i class="far fa-edit"></i>
    <% end %></td>

    <td><%= link_to admin_condition_path(@condition), method: 'delete' do %>
        <i class="fas fa-trash-alt"></i>
    <% end %></td>

    <% end %>
  </tr>
</table>

<%= link_to '<< Back to Condition Index', conditions_path %>
