<section class = 'title'>
  <h1>Condtion:</h1>
</section>
  <h4>Date: <%= @condition.date %></h4>
  <h4>Max Temperature: <%= @condition.max_temperature %></h4>
  <h4>Mean Temperature: <%= @condition.mean_temperature %></h4>
  <h4>Min Temperature: <%= @condition.min_temperature %></h4>
  <h4>Mean Humidity: <%= @condition.mean_humidity %></h4>
  <h4>Mean Visibility: <%= @condition.mean_visibility %> miles </h4>
  <h4>Mean Wind Speed: <%= @condition.mean_wind_speed %> mph </h4>
  <h4>Precipitation: <%= @condition.precipitation %> inches </h4>
