<p>Average Duration: <%= @trips.average_duration %> seconds</p>
<p>Longest Ride: <%= @trips.longest_ride %> seconds</p>
<p>Shortest Ride: <%= @trips.shortest_ride %> seconds</p>
<p>Most Popular Start Station: <%= @trips.popular_start_station %></p>
<p>Most Popular End Station: <%= @trips.popular_end_station %></p>
