<p>Average Duration: <%= @trips.average_duration %> seconds</p>
<p>Longest Ride: <%= @trips.longest_ride %> seconds</p>
<p>Shortest Ride: <%= @trips.shortest_ride %> seconds</p>
<p>Most Popular Start Station: <%= @trips.popular_start_station %></p>
<p>Most Popular End Station: <%= @trips.popular_end_station %></p>
<p>Most Ridden Bike: <%= @trips.most_ridden_bike %>, with <%= @trips.most_ridden_bike_count %> rides</p>
<p>Least Ridden Bike: <%= @trips.least_ridden_bike %>, with <%= @trips.least_ridden_bike_count %> rides</p>
<p>User Subscription Type: <%= @trips.customers_count %> customer(s) account for <%= @trips.customers_percentage %>% of total.</p>
<p>User Subscription Type: <%= @trips.subscribers_count %> subscriber(s) account for <%= @trips.subscribers_percentage %>% of total.</p>
