<p>Average Duration: <%= @trips.average_duration %> seconds</p>
<p>Longest Ride: <%= @trips.longest_ride %> seconds</p>
<p>Shortest Ride: <%= @trips.shortest_ride %> seconds</p>
<p>Most Popular Start Station: <%= @trips.popular_start_station %></p>
<p>Most Popular End Station: <%= @trips.popular_end_station %></p>
<p>Most Ridden Bike: <%= @trips.most_ridden_bike %>, with <%= @trips.most_ridden_bike_count %> rides</p>
<p>Least Ridden Bike: <%= @trips.least_ridden_bike %>, with <%= @trips.least_ridden_bike_count %> rides</p>
<p>User Subscription Type: <%= @trips.customers_count %> customer(s) account for <%= @trips.customers_percentage %>% of total.</p>
<p>User Subscription Type: <%= @trips.subscribers_count %> subscriber(s) account for <%= @trips.subscribers_percentage %>% of total.</p>
<p>Date with the most rides: <%= @trips.date_with_most_rides %>, number of rides: <%= @trips.count_of_date_with_most_rides %></p>
<h2>Weather for Busiest Day</h2>
<p>High Temperature: <%= @trips.conditions_for_most_rides.max_temperature %>F</p>
<p>Average Temperature: <%= @trips.conditions_for_most_rides.mean_temperature %>F</p>
<p>Low Temperature: <%= @trips.conditions_for_most_rides.min_temperature %>F</p>
<p>Average Humidity: <%= @trips.conditions_for_most_rides.mean_humidity %>%</p>
<p>Average Visibility: <%= @trips.conditions_for_most_rides.mean_visibility %> miles</p>
<p>Average Wind Speed: <%= @trips.conditions_for_most_rides.mean_wind_speed %> knots</p>
<p>Average Precipitation: <%= @trips.conditions_for_most_rides.precipitation %> inches</p>
<p>Date with the least rides: <%= @trips.date_with_least_rides %>, number of rides: <%= @trips.count_of_date_with_least_rides %></p>
<h2>Weather for Slowest Day</h2>
<p>High Temperature: <%= @trips.conditions_for_lowest_rides.max_temperature %>F</p>
<p>Average Temperature: <%= @trips.conditions_for_lowest_rides.mean_temperature %>F</p>
<p>Low Temperature: <%= @trips.conditions_for_lowest_rides.min_temperature %>F</p>
<p>Average Humidity: <%= @trips.conditions_for_lowest_rides.mean_humidity %>%</p>
<p>Average Visibility: <%= @trips.conditions_for_lowest_rides.mean_visibility %> miles</p>
<p>Average Wind Speed: <%= @trips.conditions_for_lowest_rides.mean_wind_speed %> knots</p>
<p>Average Precipitation: <%= @trips.conditions_for_lowest_rides.precipitation %> inches</p>
