<table>
<% @trips.each do |trip| %>
  <tr>
    <td>Trip No.: <%= trip.id %></td>
    <td><%= trip.duration %></td>
    <td><%= trip.start_date %></td>
    <td><%= trip.start_station.name %></td>
    <td><%= trip.end_date %></td>
    <td><%= trip.end_station.name %></td>
    <td><%= trip.bike_id %></td>
    <td><%= trip.subscription_type %></td>
    <td><%= trip.zip_code %></td>

    <% if current_admin? %>
    <td><%= link_to 'Edit', edit_admin_trip_path(trip) %></td>
    <td><%= link_to 'Delete', admin_trip_path(trip), method: "delete" %></td>
    <% end %>
    
  </tr>
  <% end %>
</table>
<%= will_paginate @trips %>
