<section class = 'title'>
  <h1>All Trips</h1>
</section>

<table>
  <tr>
    <th>Trip Number</th>
    <th>Duration</th>
    <th>Start Date</th>
    <th>Start Station</th>
    <th>End Date</th>
    <th>End Station</th>
    <th>Bike ID</th>
    <th>Subscription Type</th>
    <th>Zip Code</th>

    <% if current_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <% @trips.each do |trip| %>
  <tr>
    <tr class=trip_<%= trip.id %>>
    <td>Trip No.: <%= link_to trip.id, trip_path(trip)%></td>
    <td><%= trip.duration %></td>
    <td><%= trip.start_date %></td>
    <td><%= trip.start_station.name %></td>
    <td><%= trip.end_date %></td>
    <td><%= trip.end_station.name %></td>
    <td><%= trip.bike_id %></td>
    <td><%= trip.subscription_type %></td>
    <td><%= trip.zip_code %></td>

    <% if current_admin? %>
      <td><%= link_to edit_admin_trip_path(trip) do %>
          <i class="far fa-edit"></i>
      <% end %></td>

      <td><%= link_to admin_trip_path(trip), method: 'delete' do %>
          <i class="fas fa-trash-alt">
      <% end %></td>
    <% end %>

  </tr>
  <% end %>
</table>
<%= will_paginate @trips %>
