<section class = 'title'>
  <h1>Trip Report</h1>
</section>
<section class='main'>
<p>Trip ID: <%= @trip.id %></p>
<p>Duration: <%= @trip.time_string %></p>
<p>Start Date: <%= @trip.start_date.strftime('%d %B %Y') %></p>
<p>End Date: <%= @trip.end_date.strftime('%d %B %Y') %></p>
<p>Start Station: <%= @trip.start_station.name %></p>
<p>End Station: <%= @trip.end_station.name %></p>
<p>Bike ID #<%= @trip.bike_id %></p>
<p>User Subscription Type: <%= @trip.subscription_type %></p>
<p>Zip Code: <%= @trip.zip_code %></p>
<% if current_admin? %>
  <p><%= link_to edit_admin_trip_path(@trip) do %>
      <i class="far fa-edit"></i>
  <% end %></p>
  <p><%= link_to admin_trip_path(@trip), method: 'delete' do %>
      <i class="fas fa-trash-alt"></i>
  <% end %></p>
<% end %>

<%= link_to '<< Back to Trip Index', trips_path %>
</section>
