<section class = 'title'>
  <h1>All Stations</h1>
</section>

<table>
  <tr>
    <th>Name</th>
    <th>Dock Count</th>
    <th>City</th>
    <th>Installation Date</th>
  </tr>
  <% @stations.each do |station| %>
    <tr class=station_<%= station.id %>>
      <td><%= station.name %></td>
      <td align='right'><%= station.dock_count %></td>
      <td align='right'><%= station.city %></td>
      <td align='right'><%= station.installation_date %></td>
    </tr>
  <% end %>
</table>
