<div class="class=station_<%= @station.id %>">
  <section class='title'>
    <h1><%= @station.name %></h1>
  </section>
  <section class='main'>
    <h4>Dock Count: <%= @station.dock_count %></h4>
    <h4>City: <%= @station.city %></h4>
    <h4>Installation Date: <%= @station.installation_date.strftime('%d %B %Y') %></h4>

    <% if current_admin? %>
      <p><%= link_to edit_admin_station_path(@station) do %>
          <i class="far fa-edit"></i>
      <% end %></p>

      <p><%= link_to admin_station_path(@station), method: 'delete' do %>
          <i class="fas fa-trash-alt"></i>
      <% end %></p>
    <% end %>
  </div>

  <% if current_user %>
    <h4>Trips from here: <%= @station.start_trips.length %></h4>
    <h4>Trips to here: <%= @station.end_trips.length %></h4>

    <% if @station.start_trips.length > 0 %>
      <h4>
        Most frequent destination: <%= link_to @station.most_frequent_destination.name, "/#{@station.most_frequent_destination.slug}" %>
      </h4>
    <% end %>
    <% if @station.end_trips.length > 0 %>
      <h4>
        Most frequent origin: <%= link_to @station.most_frequent_origin.name, "/#{@station.most_frequent_origin.slug}" %>
      </h4>
    <% end %>
    <% if @station.start_trips.length > 0 %>
      <h4>Date with most trips from here: <%= @station.date_with_most_trips.strftime('%d %B %Y') %></h4>
      <h4>Most frequent zip code for users of this station: <%= @station.most_frequent_zip_code %></h4>
      <h4>Most frequently used bike at this station: <%= @station.most_frequent_bike %></h4>
    <% end %>
  <% end %>
<%= link_to '<< Back to Station Index', stations_path %>
</section>
