<section class='title'>
<h1> Admin Dashboard</h1>
</section>

<section class='title'>
  <%= link_to 'View All Accessories', admin_accessories_path %>
</section>

<section class='title'>
  <h3> Total Number of Orders by Status</h3>
</section>
  <%= link_to 'Ordered', admin_dashboard_path(status: 'Ordered') %>: <%= @orders.ordered_count %>
  <%= link_to 'Paid', admin_dashboard_path(status: 'Paid') %>: <%= @orders.paid_count %>
  <%= link_to 'Cancelled', admin_dashboard_path(status: 'Cancelled') %>: <%= @orders.cancelled_count %>
  <%= link_to 'Completed', admin_dashboard_path(status: 'Completed') %>: <%= @orders.completed_count %>

  <section class='title'>
    <h3> All Orders</h3>
  </section>

  <% @orders.each do |order| %>
  <%= link_to "Order ##{order.id}", admin_order_path(order) %>
  <% end %>
