<div class='all_cards'>
  <% @accessories.each do |accessory| %>
  <div class="card">
    <tr class="accessory_<%=accessory.id%>">
      <%= image_tag accessory.image.url, class: 'image' %>
      <%= accessory.id %>
      <%= link_to accessory.title, accessory_path(accessory) %></p>
      <p><%= accessory.price %></p>
      <p><%= accessory.description %></p>
      <% if accessory.role == 'active' %><%= link_to 'Retire', admin_accessories_path, method: 'patch'  %>
        <p>Accessory Active</p>
      <% else %>
        <p>Accessory Retired</p><%= link_to 'Reactivate', admin_accessories_path, method: 'patch'  %>
      <% end %>
      <%= link_to 'Edit', edit_admin_accessory_path(accessory) %>
    </tr>
  </div>
  <% end %>
</div>
