<div class="title">
<h1>Welcome <%= current_user.username %></h1>
</div>
<section class="admin">
<h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
<p><%= current_user.address %></p>
Something look wrong here? <%= link_to 'Edit Your Info', edit_user_path(current_user)%>


<div class="orders">
  <% if current_user.orders.empty? %>
    Looks like you haven't placed any orders yet. Come check out our <%= link_to 'Bike Shop', accessories_path %>!
    <% end %>
  <% current_user.orders.each do |order| %>
    <div id="order_<%= order.id %>">
      <%= link_to "Order ##{order.id}", order_path(order) %>: $<%= order.total %>.00
    </div>
  <% end %>
</div>
</section>
