<%= form_for [:admin, @trip] do |f| %>
<<<<<<< HEAD
  <p><%= f.label :duration %> (in seconds)</p>
  <%= f.number_field :duration %>
=======
  <%= f.label :duration %>
  <%= f.number_field :duration, min: 0 %>
>>>>>>> Conditions can be deleted. Form and page formatting/styling fixes

  <br>

  <%= f.label :start_date %>
  <%= f.date_field :start_date %>

  <br>

  <%= f.label :end_date %>
  <%= f.date_field :end_date %>

  <br>

  <%= f.label :bike_id %>
  <%= f.number_field :bike_id, min: 0 %>

  <br>


  <%= f.label :subscription_type %>
  <%= f.select :subscription_type, Trip.subscription_types.keys %>

  <br>

  <%= f.label :zip_code %>
  <%= f.number_field :zip_code, min: 0 %>


  <br>

  <%= f.label :start_station %><br/>
  <%= f.collection_select :start_station_id, Station.order(:name), :id, :name %>

  <br>

  <%= f.label :end_station %><br/>
  <%= f.collection_select :end_station_id, Station.order(:name), :id, :name %>

  <%= f.submit %>
<% end %>
