  <div class="card">
    <tr class=accessory_<%= accessory.id %>>
      <%= image_tag accessory.image.url, class: "image" %>
      <%= accessory.id %>
      <%= link_to accessory.title, accessory_path(accessory) %></p>
      <%= accessory.price %>
      <%= accessory.description %>
      <% if accessory.role == 'active' %>
        <%= button_to 'Add to Cart', cart_path(accessory_id: accessory.id), class: "add_accessory_#{accessory.id}" %>
      <% else %>
    </br></br>Accessory Retired
      <% end %>
    </tr>
  </div>
