  <div class="card">
    <tr class=accessory_<%= accessory.id %>>
      <%= image_tag accessory.image.url, class: "image" %>
      <p><%= link_to accessory.title, accessory_path(accessory) %></p>
      <p><%= accessory.price %></p>
      <p><%= accessory.description %></p>
      <% if accessory.role == 'active' %>
        <%= button_to 'Add to Cart', cart_path(accessory_id: accessory.id), class: "add_accessory_#{accessory.id}" %>
      <% else %>
    </br></br>Accessory Retired
      <% end %>
    </tr>
  </div>
