<section class = 'title'>
  <h1> <%= @accessory.title %> </h2>
</section>

<div class = 'title'>
  <div class="card">
    <tr class=accessory_<%= @accessory.id %>>
      <%= image_tag @accessory.image.url, class: "image" %>
      <p>$<%= @accessory.price %>.00</p>
      <p><%= @accessory.description %></p>
      <% if @accessory.role == 'active' %>
        <%= button_to 'Add to Cart', cart_path(accessory_id: @accessory.id), class: "add_accessory_#{@accessory.id}" %>
      <% else %>
        </br></br>Accessory Retired
        <% end %>
    </tr>
  </div>
</div>
